%gee
  %whiz
    Wow this is cool!

%p
  <div id="blah">Blah!</div>

%title
  = title
  \= title

%one
  %two
    %three Hey there

%html{'xmlns': "http://www.w3.org/1999/xhtml", "xml:lang": "en", 'lang': "en"}

%script{'type': "text/javascript",
        'src': "javascripts/script_{}".format(2 + 7)}

%div{'id': [item['type'], item['number']], 'class': [item['type'], item['urgency']]}
%div{'class': [item['type'], item == sortcol and ['sort', sortdir]] } Contents

.item{'class': not item and "empty"}

%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
%a(title=title href=href) Stuff
%a(title=title){'href': link['href']} Stuff
%script(type="text/javascript"
        src="javascripts/script_{}".format(2 + 7))

%input{'selected': True}
%input{'selected': False}
%input(selected)
%input(selected=True)

%a{'href': "/posts", 'data': {'author_id': 123}} Posts By Author

%div#things
  %span#rice Chicken Fried
  %p.beans{ 'food' : 'true' } The magical fruit
  %h1.class.otherclass#id La La La

%div#content
  %div.articles
    %div.article.title Doogie Howser Comes Out
    %div.article.date 2006-11-05
    %div.article.entry
      Neil Patrick Harris would like to dispel any rumors that he is straight

%div#Article.article.entry{'id' : article['number'], 'class' : article['visibility']}

#collection
  .item
    .description What a cool item!

%br/
%meta{'http-equiv' : 'Content-Type', 'content' : 'text/html'}/
