%section.container
  %h1= post_title
  %h2= post_subtitle
  .content
    = post_content

%gee
  %whiz
    Wow this is cool!

%p
  <div id="blah">Blah!</div>

%title
  = title
  \= title

%html{'xmlns': "http://www.w3.org/1999/xhtml", "xml:lang": "en", 'lang': "en"}

%script{'type': "text/javascript",
        'src': "javascripts/script_{}".format(2 + 7)}
